body {
    zoom:55%;
    display: block;
    margin: 0px;
    background-image: url("images/bluetilebackground.png");
    background-repeat: repeat;
}

.title {
    height:50px;
}

.left-panel {
    text-align: center;
}

.squidgame-left-panel {
    height: 1070px;
    width: 587px;
    /*border: 1px solid black;*/
    background: url("images/SquidGameLeftPanel.png")
      0px 0px;
    position: relative;
    top: 0px;
    left: 8px;
    z-index:1;
    margin-right:30px;
    transition: top 1.5s ease, left 1.5s ease;
    text-align: bottom;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main-page-restart-button {
    color: white;
    height:50px;
    margin-left:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    cursor:pointer;
}

.main-page-restart-button:hover {
    color: white;
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    opacity:50%;
}

.game-components-container {
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content: center;
}

.glassPanelMap {
    align-items: center;
    display: flex;
    width: 1126px;
    height: 1126px;
    justify-content: center;
    background-image:url('images/gridBackground.png');
    position:relative;
}

.container {
    border: 3px solid #aaa9ad;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1120px;
}

#gamemaster-sprite-image {
    margin-left:50px;
    height: 380px;
    width: 540px;
    /*border: 1px solid black;*/
    background: url("images/gameMasterSprite.png")
      0px 0px;
    position: relative;
    top: 0px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}

.results-container {
    margin-left:60px;
}

.players-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.solidPanel,.breakablePanel {
    align-items: center;
    border: 3px outset #aaa9ad;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
    background: rgba(143, 201, 255, 0.45);
}
.solidPanel:hover,.breakablePanel:hover {
    opacity:0.5;
}

.panelbroken {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}

#sprite-image {
    height: 56px;
    width: 56px;
    /*border: 1px solid black;*/
    background: url("images/final_strip_walking_man_min.png")
      0px 0px;
    transform: rotate(90deg);
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}



#sprite-image-stationary {
    height: 56px;
    width: 56px;
    /*border: 1px solid black;*/
    background: url("images/stationaryMale.png")
      0px 0px;
    transform: rotate(90deg);
    background-size: 56px;
    background-repeat: no-repeat;
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: all 1.5s ease;
}

.instructions {
    font-size:30px;
    text-align: center;
}


.fixed-div {
    width: 85%;
    margin: 0px auto;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255,0);
    font-size:40px;
}

.fixed-div-right {
    width: 85%;
    margin: 0px auto;
    text-align: right;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255,0);
    font-size:50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
font-size: 40px;
width: 60%; /* Could be more or less, depending on screen size */
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.restart-button {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  padding: 0.6em 2em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left:60px;
  font-size:30px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  margin-left:10px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.restart-button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .restart:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.expression {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

#myImg {
    position: absolute;
    left:50px;
    bottom: 10px;
    width: 400px;
    border: 3px solid #8AC007;
}

/* The sidepanel menu */
.sidepanel {
    height: 680px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 350px;
    left: 0;
    background-color: rgba(255, 196, 176, 0.932); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel li{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 20px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }