body {
    zoom:50%;
    display: block;
    margin: 0px;
    background-image: url("images/bluetilebackground.png");
    background-repeat: repeat;
}

.title {
    height:50px;
}

.squidgame-left-panel {
    height: 1050px;
    width: 564px;
    /*border: 1px solid black;*/
    background: url("images/SquidGameLeftPanel.png")
      0px 0px;
    position: relative;
    top: 0px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}

.game-components-container {
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    justify-content: center;
}

.glassPanelMap {
    align-items: center;
    display: flex;
    width: 1126px;
    height: 1126px;
    justify-content: center;
    background-image:url('images/gridBackground.png');
    position:relative;
}

.container {
    border: 3px solid #aaa9ad;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1120px;
}

#gamemaster-sprite-image {
    margin-left:50px;
    height: 380px;
    width: 540px;
    /*border: 1px solid black;*/
    background: url("images/gameMasterSprite.png")
      0px 0px;
    position: relative;
    top: 0px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}

#results-container {
    margin-left:30px;
}

#players {
    height: 825px;
    width: 440px;
    /*border: 1px solid black;*/
    background: url("images/playersStart.png")
      0px 0px;
    position: relative;
    top: 0px;
    left: 8px;
    z-index:1;
    margin: 0 auto;
    transition: top 1.5s ease, left 1.5s ease;
}

.solidPanel,.breakablePanel {
    align-items: center;
    border: 3px outset #aaa9ad;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
    background: rgba(143, 201, 255, 0.45);
}
.solidPanel:hover,.breakablePanel:hover {
    opacity:0.5;
}

.panelbroken {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}

#sprite-image {
    height: 56px;
    width: 56px;
    /*border: 1px solid black;*/
    background: url("images/final_strip_walking_man_min.png")
      0px 0px;
    transform: rotate(90deg);
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}



#sprite-image-stationary {
    height: 56px;
    width: 56px;
    /*border: 1px solid black;*/
    background: url("images/stationaryMale.png")
      0px 0px;
    transform: rotate(90deg);
    background-size: 56px;
    background-repeat: no-repeat;
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: all 1.5s ease;
}

.instructions {
    font-size:30px;
    text-align: center;
}


.fixed-div {
    width: 85%;
    margin: 0px auto;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255,0);
    font-size:40px;
}

.fixed-div-right {
    width: 85%;
    margin: 0px auto;
    text-align: right;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255,0);
    font-size:50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
font-size: 40px;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.expression {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

#myImg {
    position: absolute;
    left:50px;
    bottom: 10px;
    width: 400px;
    border: 3px solid #8AC007;
}