body {
    display: block;
    margin: 8px;
}

.title {
    height:50px;
}

.glassPanelMap {
    align-items: center;
    display: flex;
    height: 1060px;
    justify-content: center;
}

.container {
    border: 3px solid #996633;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    width: 1120px;
}



.solidPanel,.breakablePanel {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
    background-image:url('glassPanel.png');
}
.solidPanel:hover,.breakablePanel:hover {
    opacity:0.5;
}

.panelbroken {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}