body {
    display: block;
    margin: 8px;
  }


.glassPanelMap {
    align-items: center;
    display: flex;
    height: 566px;
    justify-content: center;
};

.container {
    border: 3px solid #996633;
    display: flex;
    flex-wrap: wrap;
    height: 560px;
    margin: auto;
    position: absolute;
    width: 560px;
}

.container div {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}