body {
    display: block;
    margin: 0px;
    background-image:url('perspectivebackground.jpg\,1600');
}

.title {
    height:50px;
}

.glassPanelMap {
    align-items: center;
    display: flex;
    width: 1130px;
    margin: 0 auto;
    height: 1060px;
    justify-content: center;
}

.container {
    border: 3px solid #996633;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    width: 1120px;
}



.solidPanel,.breakablePanel {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
    background: rgba(157,177,255,0.5);
    /*url('glassPanel.png');
    opacity: 0.5;*/
}
.solidPanel:hover,.breakablePanel:hover {
    opacity:0.5;
}

.panelbroken {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}

#sprite-image {
    height: 56px;
    width: 56px;
    border: 1px solid black;
    background: url("final_strip_walking_man_min.png")
      0px 0px;
    transform: rotate(90deg);
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
  }