body {
    zoom:75%;
    display: block;
    margin: 0px;
}

.title {
    height:50px;
}

.glassPanelMap {
    align-items: center;
    display: flex;
    width: 1126px;
    margin: 0 auto;
    height: 1126px;
    justify-content: center;
    background-image:url('backgroundv1.png');
}

.container {
    border: 3px solid #aaa9ad;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    width: 1120px;
}



.solidPanel,.breakablePanel {
    align-items: center;
    border: 3px outset #aaa9ad;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
    /*background-image:url('glassPanel.png');
    opacity: 0.5;*/
    background: rgba(143, 201, 255, 0.45);
}
.solidPanel:hover,.breakablePanel:hover {
    opacity:0.5;
}

.panelbroken {
    align-items: center;
    border: 3px outset #996633;
    display: flex;
    font-family: 'Gaegu', cursive;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    width: 50px;
}

#sprite-image {
    height: 56px;
    width: 56px;
    border: 1px solid black;
    background: url("final_strip_walking_man_min.png")
      0px 0px;
    transform: rotate(90deg);
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: top 1.5s ease, left 1.5s ease;
}

#sprite-image-stationary {
    height: 56px;
    width: 56px;
    border: 1px solid black;
    background: url("stationaryMale.png")
      0px 0px;
    transform: rotate(90deg);
    background-size: 56px;
    background-repeat: no-repeat;
    position: absolute;
    top: 58px;
    left: 8px;
    z-index:1;
    transition: all 1.5s ease;
}